/Untitled.ipynb
/icosphere_0.txt
/icosphere_1.txt
/icosphere_2.txt
/icosphere_3.txt
/icosphere_4.txt
/icosphere_5.txt
/icosphere_6.txt
/icosphere_7.txt
/icosphere_8.txt
/icosphere_9.txt
/icosphere_simple.py
